@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background-color: #252329;
}

.drop-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hamburger {
    display: none;
}

@media only screen and (min-width: 765px) {
    .sidebar-hidden {
        display: none !important;
    }
}

@media only screen and (max-width: 765px) {
    .Sidebar {
        display: none;
    }

    .hamburger {
        display: flex;
    }
    
}

input:focus {
    outline: none;
}

input {
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}